apiVersion: v1
kind: Pod
metadata:
  name: go-client
  labels:
    app.kubernetes.io/name: my-go-app
spec:
  containers:
  - name: my-go-client
    image: my-golang-app:latest
    ports:
      - containerPort: 2112
        name: promet-port
    imagePullPolicy: IfNotPresent
    env:
      - name:  MYSQL_ROOT_PASSWORD
        valueFrom:
          secretKeyRef:
            name:  my-bd-mysql
            key:  mysql-root-password
      - name:  MYSQL_SERVICE_ADDRS
        value: "my-bd-mysql-primary.default.svc.cluster.local:3306"
---
apiVersion: v1
kind: Service
metadata:
  name: goclientservice
spec:
  selector:
    app.kubernetes.io/name: my-go-app
  ports:
  - name: promet-serv-port
    protocol: TCP
    port: 2112
    targetPort: promet-port